@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amethysta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@font-face 
{
	font-family: 'Gaegu-Regular';
	src: url(Gaegu-Regular.woff);
	font-family: "Gaegu-Regular", "Courier", monospace;
}

@font-face {
	font-family:"courier-std";
	src:url("https://use.typekit.net/af/8143dd/0000000000000000000131bb/27/l?subset_id=2&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/8143dd/0000000000000000000131bb/27/d?subset_id=2&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/8143dd/0000000000000000000131bb/27/a?subset_id=2&fvd=n4&v=3") format("opentype");
	font-display:auto;
	font-style:normal;
	font-weight:400;
}

@font-face 
{
	font-family: 'f25';
	src: url(../FSEX300.ttf);
	font-family: "fsex300", "Courier", monospace;
}

@font-face 
{
	font-family: 'EPSONRegular';
	src: url(EPSONRegular.woff);
	font-family: "EPSONRegular", "Courier", monospace;
}

@font-face 
{
	font-family: 'EPSONRegular2';
	src: url(EPSON-ea-Regular.woff);
	font-family: "EPSONRegular2", "Courier", monospace;
}

body 
{
	background-color:#000000;
	image-rendering: pixelated; 
	image-rendering: optimize-contrast;
	ms-interpolation-mode: nearest-neighbor;
	color: #FFFFFF;
	font-family: "f25", "Courier", monospace;
	margin:0;
	padding:0;
	height:100%;
}
.bg2
{
	width:100%;
	min-height:calc(300vh);
	position:fixed;
	top:0;
	left:0;
	image-rendering: pixelated; 
	image-rendering: optimize-contrast;
	ms-interpolation-mode: nearest-neighbor;
	background-image: url('cbback.png');
	
	background-position: center center;
	transform:scale(1,1);
	
	z-index:-1;
}
@keyframes backgroundScroll 
{
	0% {transform: translate(-400px,-500px);}
	100% {transform: translate(0px,0px);}
}
@keyframes cool 
{
	0% {transform: translate(-400px,-500px); }
	50% {transform: translate(0px,0px); }
	100% {transform: translate(-400px,-500px); }
}
.main 
{
	margin:32px;
	width: 756px;
	font-size: 32px;
	line-height: 80%;
}
body
{
}
.hardshadow
{
	box-shadow: 10px 10px grey;
}
.nameBack
{
	background-color: grey;
	border: 5px solid black;
}
.mainTable
{
	border: 5px solid #F2F2F2;
	background-color: black;
}
.textTable
{
	border: 5px solid transparent;
	box-shadow: 0px 0px 20px 5px transparent;
	background-color: transparent;
	
}
.textTableTd
{
	font-family: "f25", "Courier", monospace;
	font-weight: 0;
	border: 3px solid transparent;
	background-image: none;
	color: white;
	font-size: 16px;
	line-height: 100%;
	padding: 0px;
}
td
{
	border: 3px solid #F2F2F2;
	padding: 8px;
	text-align: justify;
	height:50px;
}
td.left
{
	width:200px;
	height:50px;
	background-image: url("sky.png");
	font-size: 32px;
	padding: 8px;
	color: white;
	text-align: center;
}
td.right
{
	background-image: url("sky.png");
	font-size: 32px;
	padding: 0px;
	color: white;
	text-align: justify;
}
th
{
	transform:translate(0px,-2px);
	padding: 0px;
	font-weight: 100;
	text-align: center;
	color: #B0E7F2;
	transition: 0.5s;
	text-align: left;
}
th:hover
{
	animation: huecycle .17s forwards linear;
	transition: 0.2s;
}
.imgbutton
{
	border: 2px solid #696969;
	image-rendering: pixelated; 
	image-rendering: optimize-contrast;
	ms-interpolation-mode: nearest-neighbor;
	margin: 10px;
	box-shadow: 0px 0px 10px 2px #000000;
	transition: 0.5s;
	transition-timing-function: linear;
}

.imgbutton2
{
	transition: 0.5s;
}

.imgbutton:hover
{
	border: 2px solid transparent;
	image-rendering: pixelated; 
	image-rendering: optimize-contrast;
	ms-interpolation-mode: nearest-neighbor;
	border-image: url('gfx_noisew.gif') 8 repeat;
	transition: 20s;
	transition-timing-function: linear;
}

.imgbutton2:hover
{	
	transition: 0.2s;
	transform:scale(1.125);
}

div.footerText
{
	border-top: 4px dashed black;
	margin: 25px;
	padding: 20px;
	text-align: center;
	color: black;
	line-height: 90%;
}

div.title
{
	font-size: 48px;
	text-shadow: 2px 2px 4px #000000;
	margin: 25px;
	padding: 20px;
	text-align: center;
	
	color: white;
	line-height: 90%;
	text-shadow: 
}
div.titleword
{
	font-size: 80px;
	
	
	text-align: center;
	
	color: white;
	line-height: 90%;
}
div.subtitle
{
	font-size: 16px;
	margin: 17px;
	
	text-align: center;
	
	color: white;
	line-height: 90%;
}
@keyframes shadowRotate 
{
	0% {text-shadow: 2px 2px 4px #000000, 0 0 25px #ffa32b;}
		
  
	50% {text-shadow: 2px 2px 4px #000000, 0 0 15px #ffa32b;}
		
	100% {text-shadow: 2px 2px 4px #000000, 0 0 25px #ffa32b;}
}
@keyframes huecycle {
	0% {filter: hue-rotate(0deg) saturate(200%);}
		
  
	100% {filter: hue-rotate(45deg) saturate(200%);}
		
	
}
#hpud::-webkit-scrollbar 
{
	width: 10px;
}

#hpud::-webkit-scrollbar-track 
{
	background: #f1f1f1; 
	box-shadow: inset 0 0 5px grey;
	border-radius: 5px;
}

#hpud::-webkit-scrollbar-thumb 
{
	background: #ABD2DB; 
	border-radius: 5px;
	box-shadow: inset 0 0 5px #00000080;
}

#hpud::-webkit-scrollbar-thumb:hover 
{
	background: #6C8489; 
}

#hpud
{
	font-family: 'Arial';
	line-height: 200%;
}

div.sectionl
{
	position:relative;
	z-index:2;
	width:900px;
	font-family: 'Amethysta';
	margin: 40px;
	padding: 20px;
	text-align: left;
	background-color: #EFEFEF;
	color: black;
	line-height: 113%;
	transform:translate(-133px,0px);
	border-color: #808080;
	border-width: 1px;
	border-style: dashed;
	white-space: pre-line;
	font-size: 14px;
	overflow-x: hidden;
	overflow-y:visible;
}
#rsec1sclr
{
	padding: -10px;
	transform:translate(0px,-16px);
	overflow-x: visible;
	overflow-y:visible;
}

#peterspan
{
	white-space: pre-wrap;
}

a
{
	color: #564CF5;
}




.menubutton
{
	color: black;
	font-size: 16px;
	text-shadow: 0px 0px 0px transparent;
	user-select: none;
	line-height: 90%;
	margin-top: 0px;
	margin-right: 4px;
	width: 100px;
	height: 20px;
	background-color: #D3D3D3;
	border-color: #AFAFAF;
	border-width: 2px;
	border-style: solid;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	outline-color: #B7B7B7;
	outline-width: 1px;
	outline-style: solid;
	box-shadow: 0px 0px 6px #00000033;
	cursor: pointer;
}
.menubutton:hover
{
	transition: .1s;
	color: black;
	font-size: 16px;
	text-shadow: 0px 0px 0px transparent;
	text-align: center;
	user-select: none;
	line-height: 90%;
	margin-top: 0px;
	margin-right: 4px;
	width: 100px;
	height: 20px;
	background-color: #EAEAEA;
	border-color: #BCBCBC;
	border-width: 2px;
	border-style: solid;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	outline-color: #EFEFEF;
	outline-width: 1px;
	outline-style: solid;
	box-shadow: 0px 0px 6px #00000033;
	
}
.menubar
{
	width: 900px;
	text-align: left;
	margin: 0px;
	transform: translate(-133px,53px);
}
.menupopupcon
{
	text-align: left;
	font-size: 16px;
	text-shadow: 0px 0px 0px transparent;
	user-select: none;
	line-height: 90%;
	color: black;
	position: absolute;
	margin: 0px;
	padding: 0px;

}

#sec1
{
	font-family: 'Alice';
	font-size: 32px;
	margin-top: 6px;
	margin-bottom: -25px;
	margin-left: -10px;
	padding: 0px;
	transform: translate(8px,-30px);
	text-decoration: underline;
	width: 10px;
	white-space: nowrap;
}

.information
{
	position: absolute;
	width: 200px;
	height: 200px;
	background-image: url('questioncustom.png');
	transform: scale(.1,.1);
	line-height: 0%;
	margin: 0px;
	padding: 0px;
	opacity: 0.5;
	
}
.informationcon
{
	position: absolute;
	transform: translate(802px,-119px);
	line-height: 0%;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	
}